[2020-04-01 15:30] lizthegrey opened #3 "Security key not detected"
For some reason, when chromium is executed by puppeteer, my security key's light never comes on, and tapping it has no effect. I had to use backup codes to log in with gsts.

This is on Ubuntu Linux, gsts version 2.1.0

[2020-04-01 23:40] ruimarinho commented on #3
Hi @lizthegrey! Unfortunately I am experiencing the same issue on macOS. I am pretty sure it was working before..

I have tried to direct `gsts` to the traditional login page (`https://accounts.google.com`) and it works fine there, so it must be some kind of legacy check of the U2F script that is still in use by that particular page.

I'll see if someone over at the puppeteer project can shed some

[2020-04-02 17:55] charlespierce opened #5 "GSTS fails to spawn headful instance if called directly"
This is admittedly a very corner case, but with how gsts respawns itself into a headful instance here: https://github.com/ruimarinho/gsts/blob/3d7a1ef28d25b3fe8c442e461b20120e050cace9/index.js#L420

It fails if `gsts` isn't on the PATH. It came up within the context of [Volta](https://github.com/volta-cli/volta), which manages global installs and calls the tools directly instead of leaving them on

[2020-04-02 18:47] #5 closed

[2020-04-03 06:45] trilom opened #7 "gsts clashes with ohmyzsh git plugin"
The plugin for git in ohmyzsh causes conflict with this.

https://github.com/ohmyzsh/ohmyzsh/tree/master/plugins/git

You can solve my either 1.) disabling the plugin or 2.) unaliasing at the end of your . files.

[2020-04-03 06:47] trilom commented on #7
Other than this it worked perfectly.  Thank you for this!

[2020-04-04 00:32] ruimarinho commented on #7
Ah, bummer! Thanks for note (added at https://github.com/ruimarinho/gsts/commit/746be58be8c1c23ccd4b74566ee1eab2a1438277). Used to be a big fan of ohmyzsh but decided to give zimfw a try until finally landing on zplugin most recently!

[2020-04-04 00:32] #7 closed

[2020-04-07 11:01] Zlender commented on #3
I just tried gsts for the first time yesterday and couldn't figure out how to get security key to light up during MFA step with Google. If I open webauthn demo site in same browser in new tab I can use it just fine https://demo.yubico.com/webauthn-technical/registration .

Maybe completely unrelated but if I just go to login to gmail.com with my corp account I get this error from google
[code]

Le

[2020-04-08 15:24] lizthegrey opened #8 "ROLE_NOT_FOUND_ERROR"
[code]

This still happens when I run --clear and log in again. However, logging in via browser still succeeds at accessing AWS console.

[2020-04-08 15:46] lizthegrey commented on #8
Oh, this is fixed in a later release :)

[2020-04-08 15:46] #8 closed

[2020-04-08 15:50] lizthegrey opened #9 "Saving credentials fails silently if SessionDuration exceeds Maximum CLI/API session duration"
was running into https://github.com/ruimarinho/gsts/issues/8 before upgrading versions, but now it "succeeds" in terms of not printing any errors but neither updates the creds file or says "Login successful!".

[2020-04-08 17:07] lizthegrey commented on #9
Confirmed that adjusting max CLI/API session duration fixes this and causes new credentials to successfully be written.

[2020-04-12 21:51] ruimarinho commented on #9
Thank you for the bug report. Landed on https://github.com/ruimarinho/gsts/tree/v2.1.5.

[2020-04-12 21:51] #9 closed

[2020-04-13 22:15] lizthegrey opened #10 "ENOENT when ~/.aws does not exist"
We appear to be opening ~/.aws/credentials without first verifying that .aws exists (and creating it if it does not).

[2020-04-14 18:54] lizthegrey commented on #3
https://accounts.google.com/signin/challenge/sk/3 [...] fails

https://accounts.google.com/signin/v2/challenge/sk/webauthn [...] succeeds

I'll ask the Chrome Googler sitting next to me to help me out ;)

[2020-04-15 02:00] ruimarinho commented on #10
Thanks for the report @lizthegrey! You were right, the parent folder was not being checked.

Fixed on https://github.com/ruimarinho/gsts/tree/v2.2.0.

(I really need to start adding tests..)

[2020-04-15 02:00] #10 closed

[2020-04-15 02:03] ruimarinho commented on #3
What a fun trip this was! Experimental supported now enabled on https://github.com/ruimarinho/gsts/tree/v2.2.0.

Added a section to the README with a 'postmortem' of this bug (https://github.com/ruimarinho/gsts/tree/v2.2.0#security-keys--webauthn--u2f).

Please give it a try with `--enable-experimental-u2f-support` (just to play a bit with Chrome switches). If everything goes well it might be enab

[2020-04-15 02:03] #3 closed

[2020-04-17 03:40] limewxr opened #12 "UnhandledPromiseRejectionWarning Error"
Ran into this error:

[code]

[code]

At the same time, Chromium shows this page:

![image](https://user-images.githubusercontent.com/48216160/79529837-82355c80-8022-11ea-953d-4f34e091191e.png)

It's stuck in this status, even if I use Ctrl+C to kill the process, and run another `gsts` command with the `--clean` flag.

I'm using a newly installed v2.2.0

Please let me know if you need more informa

[2020-04-17 04:14] limewxr commented on #12
Also tried this, but does not help:

![image](https://user-images.githubusercontent.com/48216160/79531468-494bb680-8027-11ea-8488-0a18117e6073.png)

[2020-04-17 11:31] ruimarinho commented on #12
Hi @limewxr!

Can you add a logging line on https://github.com/ruimarinho/gsts/blob/master/parser.js#L29:

[code]

And remove any sensitive information? The role attribute is not being found so there's probably something new coming from the XML response.

The message "This site can't be reached" is expected and ultimately should be a successful message. I'm not loading that page to conserve bandwi

[2020-04-17 17:09] limewxr commented on #12
Thanks @ruimarinho for your prompt reply!

Here's the log (sensitive information masked):

[code]

[2020-04-17 17:30] limewxr commented on #12
OK, I think I know why this happens and how to reproduce:

This happens when I try to assume an IAM role that's not granted to me, i.e. not in the Role list.

So, the question becomes if we can handle this error in a more elegant way, e.g. tell the user that the username and password are valid, but the role specified by the user does not exist or is not granted to the user?

Appreciate your though

[2020-04-17 18:15] limewxr commented on #12
By the way, an issue with the [aws-google-auth](https://github.com/cevoaustralia/aws-google-auth) project is that its "Invalid username or password" error message is misleading.

It took our users a long time to retry the correct password quite a few times and on different computers, when the actual error was not a username of password issue at all, but the JavaScript requirement that Google is ro

[2020-04-17 18:17] saada commented on #12
I'm running into this issue for a role that I have access to. It works fine from the console but not with gsts.

[2020-04-17 18:21] saada commented on #7
Yeah ran into this as well.
For everyone else, add `unalias gsts` after loading the git plugin in your `~/.zshrc`.

[2020-04-17 18:28] saada commented on #12
If I omit the role arn flag, it works against one of the roles. But I can't figure out how to switch to other roles

[2020-04-17 22:49] ruimarinho commented on #12
@limewxr thank you for the sample response. I already had a test for multiple roles but the issue was in capturing the 'role not found' error. I took the opportunity to make the result more descriptive as per @saada suggestion.

I have fixed one tiny bug related to the principal associated with the role ARN (not observed in your case) just in case you are assigned a profile with a different identi

[2020-04-17 22:49] #12 closed

[2020-04-18 01:43] ruimarinho commented on #12
@limewxr @saada in case you're interested, I've published a new version with a revamped UI as `gsts@2.3.0-beta.0`. Would be great to have your feedback!

[2020-04-20 02:08] thepatrick opened #13 "The requested DurationSeconds exceeds the MaxSessionDuration set for this role"
This script assumes that the value of `https://aws.amazon.com/SAML/Attributes/SessionDuration` is less than the value of `MaxSessionDuration` for all roles, which isn't true for my use case, which is multiple roles, but only the dev account allows up to 12 hour sessions (other roles have the default 1 hour limit).

[aws-google-auth](https://github.com/cevoaustralia/aws-google-auth) solved this by

[2020-04-20 08:39] ruimarinho commented on #13
Can you try updating to the latest version please?

[2020-04-20 13:48] ruimarinho commented on #13
@thepatrick I was on mobile on my initial reply and now that I've re-read the issue, the latest version would not have fixed this issue (there was a SessionDuration improvement but not on this particular case).

This makes complete sense.

Yes, absolutely. Thank you.

[2020-04-20 23:48] thepatrick commented on #13
No worries, I was hoping I might have missed something 😄

I'll do that.

[2020-04-22 17:24] lizthegrey commented on #13
Just to link the threads together, the previously reported bug was: https://github.com/ruimarinho/gsts/issues/9

[2020-04-22 17:26] saada commented on #12
🎉 it worked! Thank you so much

[2020-04-24 00:34] ruimarinho commented on #13
@lizthegrey @thepatrick now that I believe I understand this issue a little bit better, I've taken a different approach. Instead of failing and forcing the user to fix the underlying problem, I'm fetching the IAM role's properties from the IAM service and making sure the `MaxSessionDuration` is never exceeded, while still warning the user about it:

<img width="823" alt="Screenshot 2020-04-24 at 0

[2020-04-24 00:34] #13 closed

[2020-04-24 01:45] thepatrick opened #15 "v2.3.0-beta.1 hangs instead of logging in"
Need to dig in to this a bit more, but:

[code]

Gives me:

[code]

[2020-04-24 01:48] thepatrick commented on #13
That approach makes sense to me! Thank you for doing that :)

Unfortunately when I try and use `2.3.0-beta.1` it hangs - logged separately as #15

[2020-04-24 07:06] wryun opened #16 "role-arn argument is not respected when existing session exists"
When I want to change who I am, gsts is very keen to tell me that there's an existing session:

[code]

It would be nice if --force wasn't required in this situation (i.e. that it recognised that this wasn't the current role).

[2020-04-25 00:27] ruimarinho commented on #16
Makes sense! Implemented on https://github.com/ruimarinho/gsts/releases/tag/v2.3.0-beta.2.

The first run will write the Role ARN to the credentials file, but subsequent runs with different roles should be detected from now on.

[2020-04-25 00:27] #16 closed

[2020-04-25 00:28] ruimarinho commented on #15
The IAM fetch implicitly requires a valid set of credentials that may not be directly tied to the IAM role in question, so I've updated the logic to make it less prone to those conditions.

In terms of hanging, all unhandled rejections should now return control back to the terminal.

Thanks for the bug report. Should be fixed in https://github.com/ruimarinho/gsts/releases/tag/v2.3.0-beta.2.

[2020-04-25 00:28] #15 closed

[2020-04-27 05:43] thepatrick commented on #15
Fantastic, thank you!

[2020-04-29 13:49] lizthegrey opened #17 "Autopopulating email causes conflicts"
https://share.getcloudapp.com/YEu1Xe1N

[2020-05-04 22:39] ruimarinho commented on #17
Hi @lizthegrey,

Thanks for the bug report. I have also experienced this issue but I can't really attribute to anything in specific.. seems random to me. As it appears I am using the officially recommended puppeteer API for this, I would have to dig a lot deeper to understand what might be the root cause.

For now, I have switched to a workaround which seems to work according to some GitHub issues

[2020-05-04 22:39] #17 closed

[2020-05-07 22:34] nikhils5501 opened #18 "Error `Cannot find module ./credentials-manager`"
I used `yarn` to install `gsts`.
However, I get this error:

[code]

[2020-05-07 22:49] ruimarinho commented on #18
@nikhils5501 what's your OS?

[2020-05-07 23:05] nikhils5501 commented on #18
I'm trying to install it on an Amazon Linux EC2

[2020-05-07 23:08] ruimarinho commented on #18
Can you browser to the directory where gsts was installed and paste the output of `ls -la` here?

[2020-05-08 00:14] nikhils5501 commented on #18
I was able to get it working with `yarn` install. `npm` threw permission errors even when running it as `sudo`

[2020-05-08 00:14] #18 closed

[2020-05-11 21:33] dmmartins opened #19 "Error on node 8.11.4"
When I run gsts on node 8.11.4 I get the follow error

[code]

nodejs prior to version 10 doesn't support named regex capture. I understand node 8 is pretty old and you may not be interested in keep the compatibility.

[2020-05-11 22:14] mandeep-bal opened #20 "i am getting error related to browser not downloaded. The browser is installed and functional"
Error: Browser is not downloaded. Run "npm install" or "yarn install"
    at ChromeLauncher.launch (/usr/local/lib/node_modules/gsts/node_modules/puppeteer/lib/Launcher.js:236:15)
    at module.exports.launch (/usr/local/lib/node_modules/gsts/node_modules/puppeteer/lib/Puppeteer.js:40:27)
    at PuppeteerExtra.launch (/usr/local/lib/node_modules/gsts/node_modules/puppeteer-extra/dist/index.cjs.js:

[2020-05-11 23:36] limewxr commented on #20
Not sure if this is the same issue or not, but one user of mine reported the following error when trying to install gsts:

[code]

I would appreciate any thoughts on this. Thanks!

[2020-05-12 00:42] ruimarinho commented on #20
@limewxr @mandeep-bal this is typically an issue with permissions on the host. What I recommend is either owning the directory where npm or yarn install their artifacts - in this case, `sudo chown -R <your_username>: /usr/local/lib/` or, if you're comfortable, `sudo npm install --global gsts`. The latter is unrecommended for security reasons.

[2020-05-12 00:42] #20 closed

[2020-05-12 00:43] ruimarinho commented on #20
@mandeep-bal try to browse to `/usr/local/lib/node_modules/gsts/node_modules/puppeteer` and running `node install.js`.

[2020-05-12 00:44] ruimarinho commented on #19
@dmmartins if this is the only required change to make it node 8 compatible, sure. Can you do some digging? Cheers.

[2020-05-12 00:44] #19 closed

[2020-05-12 15:04] lizthegrey opened #21 "allow setting puppeteer executablePath"
For my new aarch machine, puppeteer ships with the x86_64 binary still, and that won't be runnable; thus, I need to [override executablePath](https://github.com/puppeteer/puppeteer/issues/550#issuecomment-551991273)

Is it possible to support a command line flag for specifying a custom chromium to run instead of puppeteer's default? e.g. `executablePath: '/usr/bin/chromium-browser'`

[2020-05-14 14:37] lizthegrey opened #23 "Google is detecting puppeteer :("
both with --experimental-u2f-support and not, puppeteer is being blocked.

[2020-05-14 14:41] ruimarinho commented on #23
Can you please update to v2.3.0? That should fix it.

[2020-05-14 14:41] ruimarinho commented on #21
Yep, sounds good to me. Will try to add that in.

[2020-05-14 14:49] lizthegrey commented on #23
Works, thanks! Sorry about the scare.

[2020-05-14 14:52] #23 closed

[2020-05-14 16:25] ruimarinho commented on #23
My original goal was to use headful authentication for the purpose of avoiding this sort of workarounds and hacks, but seems like Google doesn't like that approach even if it's controlled by a human.

Unfortunately it doesn't seem to be possible to use the local Chromium (manually launched, not via puppeteer) and then read that data via puppeteer (https://github.com/puppeteer/puppeteer/issues/5818

[2020-05-15 06:25] akifkamal opened #24 "Getting gsts: command not found"
I successfully installed gsts using yarn but getting command not found when trying to use gsts.

[2020-05-15 06:45] akifkamal commented on #24
Ah...It seems links are broken when I installed it in ubuntu. Accessing it via ~/.yarn/bin/gsts works

[2020-05-15 08:15] ruimarinho commented on #24
@akifkamal would you suggest adding something to the README to help other users?

[2020-05-15 08:15] #24 closed

[2020-05-16 03:50] akifkamal commented on #24
@ruimarinho  I can create the PR if it is ok with you.

[2020-05-16 17:24] ruimarinho commented on #24
Absolutely!

[2020-05-19 22:28] dtardoin opened #25 "Tmux captures input for Headful Browser"
When launching the headful browser from a tmux session, tmux captures keyboard input so you can't type into any fields in the browser window, makes it hard to enter a password. (I was able to successfully submit the password form when running the exact same command outside of tmux, so I figure that's to blame)

Not sure if there's anything to be tweaked within gsts to fix this or not.

[2020-05-19 22:42] ruimarinho commented on #25
Just tried in tmux on macOS without any issue.. 🧐 any specific setting I should try to replicate?

[2020-05-20 16:58] shamsalmon opened #26 "WSL2 Support"
I get the following message in WSL2 because WSL does not support X-Windows. As you can interact with chrome via selenium server I figure the same must be possible with puppeteer. If we can configure it to connect to the browser remotely rather than trying to launch chromium it would probably work.

[code]

[2020-06-01 08:52] limewxr commented on #20
@ruimarinho thank you!

[2020-06-01 08:53] limewxr commented on #12
@ruimarinho thank you! it's working great!

[2020-06-01 16:26] Rucknar opened #27 "Mac Install (Brew?)"
I'm keen to make more use of this tool in my team (users of aws-google-auth just now).
The install process however requires npm or yarn which isn't part of the majority of our setups.

Is there a possibility we could make use of something like brew to make installing this easier or would you still need the node env installing on the mac?

[2020-06-03 00:05] ruimarinho commented on #27
Indeed, it's definitely not ideal. I'm a user of brew myself and I can create a tap to make the process a lit bit easier.

You would still need the node dependency, but it would be automatically installed by brew. There are some projects out there which we could consider like https://github.com/nexe/nexe.

[2020-06-08 09:55] Rucknar commented on #27
Can't say i've much experience with nexe perfectly but Brew would suit out needs just fine. Happy to test out a tap with out users if that helps?

[2020-06-20 14:16] princepathria97 commented on #26
Probably sending credentials via headless browser can help https://chromium.googlesource.com/chromium/src/+/lkgr/headless/README.md

For now, I think only below one can run on WSL
https://github.com/cevoaustralia/aws-google-auth

[2020-06-26 07:56] hasnaeFadili opened #29 "Invalid regular expression under ubuntu"
When running gsts under ubuntu I get the following error:
[code]

[2020-06-26 08:37] hasnaeFadili commented on #29
The problem is node version after updating node from v8 to last version I have no more the error

[2020-06-26 08:37] #29 closed

[2020-06-26 09:34] Baryczka commented on #26
@shamsalmon You can try to install vcxsrv Xserver on your machine to be able to start GUI apps. The app is starting but having other problems unfortunately

[2020-07-12 23:08] ruimarinho commented on #27
Hey @Rucknar! I'm working with some colleagues on getting this into the official homebrew package. The formula is pretty much ready - we were just trying to find a better way of testing the existence of the binary without just running `--help`. Should be up shortly for review.

[2020-07-27 14:24] nikking opened #32 "Windows: An error has ocurred while authenticating [Error: EINVAL: invalid argument, mkdir 'C:\C:']"
I tried on two Windows machines and found the same error. The error occurs after the Chromium window closes after a successful Google authentication.

[code]

[2020-07-28 00:35] ruimarinho commented on #32
@nikking I never tested this on Windows so there might be some rough edges to fix. Are you able to edit the credentials-manager.js file inside the installed package? If so, can you try adding a console.log here https://github.com/ruimarinho/gsts/blob/master/credentials-manager.js#L37 (logging `dir`) and https://github.com/ruimarinho/gsts/blob/master/credentials-manager.js#L182 (logging `path` and

[2020-07-28 13:25] nikking opened #33 "FYI: Workaround for AWS Cli V2"
Just an FYI in case others run into the same issue. I was running into an issue with the V2 AWS CLI, which I was able to resolve by unsetting LD_LIBRARY_PATH in credential_process.

### Workaround
[code]

### Error

[code]

[2020-07-28 13:26] #33 closed

[2020-07-29 17:44] nikking commented on #32
Thanks, I was able to get it working by replacing your mkdirP function with fs.promises.mkdir. So line 182 could be:

`await ffs.promises.mkdir(dirname(path), { recursive: true });`

Is this something you'd take a PR for?

[2020-07-29 23:53] ruimarinho commented on #32
Actually I would appreciate if you could help me fix the current version so I can ship v2.4.2 with the existing `ffs` implementation (which was made to be node v8 compliant), and then revert it completely with the launch of v2.5.0 as I don't want to continue supporting it (https://github.com/ruimarinho/gsts/commit/362d1db0fb0029781d304b16aee95010aa7e2163).

My suspicion is that we cannot use `join

[2020-08-02 11:56] ruimarinho commented on #33
Thank you @nikking! Added a note on the README in case it's helpful for others in the future (922f8ac).

[2020-08-02 12:28] ruimarinho commented on #32
@nikking I have fixed the issue. Will be submitting a PR soon.

[2020-08-02 15:28] ruimarinho commented on #32
Fixed in https://github.com/ruimarinho/gsts/commit/cd18055658ca053e45e8b4be67cd60f4f860e40a.

[2020-08-02 15:28] #32 closed

[2020-08-02 16:05] ruimarinho commented on #26
I've been trying to fiddle with WSL2 to get this running but I need a bit more time. In the meantime, you should explore some options as mentioned on https://github.com/puppeteer/puppeteer/issues/1837. It seems to be possible.

I've also added the required configuration variables in order to change the executable path in case you can get it running based on the comments of the thread above.

[2020-08-02 16:14] ruimarinho commented on #21
Added in https://github.com/ruimarinho/gsts/commit/f92cda7d4e2fa43c0fea3446ff1c62c7401bb5c3. Let me know if it works for you!

[2020-08-02 16:14] #21 closed

[2020-08-04 01:47] ruimarinho commented on #26
Alright, I got it working under WSL1 @shamsalmon, but not without its caveats!

1. You're probably better off with WSL2, but unfortunately it's hard to test on macOS as it requires nested virtualization. WSL1 (or just "WSL") won't probably cut it because it brings a whole another set of problems with it. Even installing `npm` on WSL may require workarounds depending on which version of Windows 10

[2020-08-04 01:48] ruimarinho commented on #25
@dtardoin let me know if you find a way to replicate this! Closing for now.

[2020-08-04 01:48] #25 closed

[2020-08-05 18:27] lizthegrey commented on #21
Thanks! Will try!

[2020-08-12 14:34] lizthegrey commented on #21
It works! Also had to jury-rig `ln -s ~/snap/chromium/current/.local/share/gsts ~/.local/share/` but after that it was fine (snap sandboxing means that it can't write to ~/.local in my own homedir).

[2020-08-12 14:38] ruimarinho commented on #21
Nice! Would be great to check if it is swallowing write errors due to lack of permissions and attempt to offer an alternative. Does snap sandboxing offer writable destinations by default?

[2020-08-12 14:49] lizthegrey commented on #21
It does, because $HOME is set to /home/$USER/snap/chromium/current/ instead of to /home/$USER by the wrapper script.

[2020-08-14 00:50] ruimarinho commented on #26
Good news on WSL2. It's a lot easier than WSL1.

* Install [VcXsrv](https://sourceforge.net/projects/vcxsrv/), allow firewall access to public networks and disable access control during setup.
* Export the `DISPLAY` variable using `export DISPLAY=$(cat /etc/resolv.conf | grep nameserver | awk '{print $2; exit;}'):0.0` to connect to the host's X server.
* Install the Debian-based Chromium version b

[2020-08-14 00:50] #26 closed

[2020-08-15 22:14] ruimarinho commented on #21
@lizthegrey which version of Ubuntu are you using? I setup a VM with 18.04, installed Chromium via `snap install chromium`, set the executable to `/snap/chromium/current/usr/lib/chromium-browser/chrome`, and it worked without problems. I can also see `/home/$USER/.local/share/gsts` was created successfully.

There are a few fixes I'm about to publish related to a function that interacts with the f

[2020-09-21 19:13] limewxr commented on #20
hey @ruimarinho , recently we encountered the same error as well, and solved it by following your instructions. It would be great if you can add it to here https://github.com/ruimarinho/gsts#troubleshooting when you have time, so that users know this is a known issue that can happen to some users. Thank you a lot!

`Error: Browser is not downloaded. Run "npm install" or "yarn install"`

[2020-10-07 10:36] Crevil commented on #27
@ruimarinho any additional progress on the brew tap? And further, anything I can do to help get this completed?

[2020-10-10 12:54] Mattias- opened #35 "Caching SAML Assertion"
Hi there,
I'm considering an option to let gsts write the SAML assertion to disk and use it if possible.
If a non expired assertion is found with matching `sp-id` and `idp-id` I suppose it could be used to assume any role without even launching puppeteer.

The use case I'm mainly interested in is to use the assertion with other tools (like `aws sts assume-role-with-saml`) for debugging and buildin

[2020-11-01 20:00] ruimarinho commented on #20
@limewxr thanks, added in https://github.com/ruimarinho/gsts/commit/40e59ce6cfd6e8f89b3bf8e256ac0a63d2676785.

[2020-11-01 20:13] ruimarinho commented on #35
Hi @Mattias- , sorry for not getting back to you earlier!

You mean something like `--saml-assertion` which, if set, would store the raw SAML response?

Are you able to provide a more concrete example of the use case?

[2020-11-01 23:09] ruimarinho commented on #27
@Crevil @Rucknar I've just released a tap for gsts! Thanks for your patience ;) https://github.com/ruimarinho/gsts/commit/1262c9af23618b8d2ddf638c51a7f998b28875d7

If you're so kind and you'd like to remove the additional tap install step, you may submit the exact same `gsts.rb` to the upstream repository under https://github.com/Homebrew/homebrew-core.

[2020-11-01 23:09] #27 closed

[2020-11-01 23:30] Crevil commented on #27
Thank you 🙌 This is great news. 🙏

[2020-11-04 11:08] Mattias- commented on #35
Hi there @ruimarinho ,
Yes something like that!
The main use case is to get a robust way of figuring out what roles that a user is able to assume and build some tooling around that.
From the SAML assertion file it's possible to retrieve all roles that the user is able to assume.
Ask the user to pick one of them. Continue with authentication.

A secondary use case I'm interested in is to improve th

[2020-11-16 17:36] christopher-wong opened #36 "Chromium not launching on macOS Big Sur 11.0.1 / iTerm 2"
After attempting to login using iTerm2 `gsts` gets stuck `Logging in` and Chromium never launches to continue the login flow.

[2020-11-16 20:24] bitflingr commented on #36
I too have a similar problem, however I managed to see chromium launch if i pass a blank `--idp-id`.  It launches the browser and throws an error as expected so it must be something before launching the browser.  I have not had any luck getting anything else meaningful from `--verbose` or any logs from the command.

[2020-11-16 20:32] bitflingr commented on #36
@christopher-wong
This seems to be maybe more of a Big Sur -> iTerm2 update.  I was able to successfully login just using the default Terminal in MacOS.  Once done i was then able to refresh my login in iTerm2 just fine.

[2020-11-16 20:54] christopher-wong commented on #36
@bitflingr is absolutely right - works fine in Terminal.app but not in iTerm 2.

[2020-11-17 23:14] wryun opened #37 "Potential upcoming breakage - Google blocking login automation?"
I've just noticed: https://developers.googleblog.com/2020/08/guidance-for-our-effort-to-block-less-secure-browser-and-apps.html

I added the following to gsts, as suggested for testing purposes:

[code]

Seemed to cause things to fall over, but I may have made a mistake.

Not sure if this is an issue, but since I didn't see an existing one I thought I'd create it (even if it only needs to be close

[2020-11-18 01:46] ruimarinho commented on #37
Oh, wow! Thanks for the heads up. Have you faced blocks already (without the header)?

[2020-11-18 01:52] ruimarinho commented on #36
Thanks for the reports! I haven't tested Big Sur yet, but I wonder if it's some Accessibility or Automation privacy security setting blocking the UI to be launched?

It could also be `env-paths` or `require('os').homedir()`.

[2020-11-18 02:10] wryun commented on #37
Nope, it's been fine so far. Thanks very much for making this and making everything just work. I haven't had to think about how we auth to AWS for a while, which is a pleasant change (aws-google-auth fell over repeatedly, and I though 'well, if we're using a _real_ browser surely this will be fine...').

[2020-11-25 01:07] ruimarinho commented on #36
Added a [note on the README](https://github.com/ruimarinho/gsts#big-sur-compatibility). Please take a look and let me know if it solved the issue for you.

[2020-11-25 01:07] #36 closed

[2020-11-25 01:12] ruimarinho commented on #37
Glad you're enjoying this little tool! My goal was precisely that - to simply use the browser like a real human. In fact, my original idea was to simply point your existing Chrome profile user data dir and cookies would be re-used. Unfortunately, it seems headless mode was made made incompatible with existing profiles on purpose to avoid automation of this kind. It's a matter of time before Google

[2020-11-25 01:12] #37 closed

[2020-12-03 06:54] assapir commented on #36
Confirming it resolve the issue, thanks!

[2020-12-10 19:10] michaelconnor00 opened #38 "Expecting value: line 1 column 1 (char 0)"
I am trying to install this tool using the `credential_process`. I have all the values as per the docs. When I run a test command such as `aws sts get-caller-identity` or `aws ec2 describe-instances `, I get the following output `Expecting value: line 1 column 1 (char 0)`. I must be missing something.

I am a Linux user if it helps.

[2020-12-10 19:26] ruimarinho commented on #38
Have you tried running in verbose mode to see if the output matches your credentials?

[2020-12-10 19:55] michaelconnor00 commented on #38
Here is a verbose output.
[code]

[2020-12-16 07:25] treykasada opened #40 "Homebrew installation errors: `Failed changing dylib ID` and `Failed to fix install linkage`"
## Summary
Yo! I just today attempted to install `gsts` via Homebrew and got some interesting errors:

[code]

As you can see, the `brew tap` works fine, but the `brew install` seems to indicate problems during installation. Interestingly though, the `gsts` executable _is present_ after the install, and the scripts I use it in all seem to work in spite of the errors.

Not sure if this is a bug or

[2021-01-11 13:46] pete-leese commented on #40
I also have the same problem - Again running Big Sur 11.1

[2021-02-01 03:46] ShayMe21 commented on #36
I can confirm as well that default MacOS terminal works fine.
But on iTerm2 it doesn't launch the Chromium browser.

Big Sur v11.1 (20C69)
iTerm 2 Build 3.4.3

[2021-02-01 16:07] ruimarinho commented on #36
@ShayMe21 has the workaround listed in the README help?

[2021-02-02 00:12] ruimarinho commented on #38
@michaelconnor00 it seems like sso.amazonaws.com uses a different flow to authenticate. Can you tell me which requests are made when? I believe that domain must be whitelisted, or gsts will automatically abort the request.

[2021-02-02 00:14] ruimarinho commented on #40
Seems like this is limitation of the version of puppeteer shipped with gsts (2.x). Published 2.4.4 with puppeteer 5.x and the issue is no longer present,  but session persistence isn't working properly.

Today I will publish the playwright based version which looks much, much better!

[2021-02-02 00:37] ruimarinho commented on #40
If you'd like to upgrade to 2.4.4, `brew upgrade gsts`, but this error is harmless.

[2021-02-02 00:37] #40 closed

[2021-02-02 00:41] michaelconnor00 commented on #38
The awscli v2 had the sso support we needed. I don't think I understood what I needed when I created this issue. I will close it. Thanks.

[2021-02-02 00:41] #38 closed

[2021-02-02 00:45] ruimarinho commented on #38
@michaelconnor00 are you using AWS SSO with Google Workspace?

[2021-02-02 04:47] michaelconnor00 commented on #38
Yes.

On Mon, 1 Feb 2021 at 16:45, Rui Marinho <notifications@github.com> wrote:

[2021-02-03 07:59] ShayMe21 commented on #36
Yes it did. sorry forgot to update my comment. Manually giving iterm Bluetooth permission worked without any issues.

[2021-02-03 08:45] limewxr opened #41 "gsts v3 gets stuck after successful login"
Hey @ruimarinho ! Glad to see gsts v3 released, but it seems it introduces a new issue with v3.

Basically, if I first login IAM role 1, then switch to i.e. login IAM role 2 (with the same AWS profile flag, if that matters), the second login does succeed but then, instead of gsts exiting, gsts will get stuck and not exit, which can be mitigated by a force exit if used interactively, but breaks oth

[2021-02-03 09:00] limewxr commented on #41
A separate note: although I installed v3 using homebrew, when running gsts command for the first time it throws an error, and asks me to install playwright using the command `npm install playwright`, which works

[2021-02-04 01:14] ruimarinho commented on #41
Hi @limewxr! Thanks for the feedback, always helpful :)

I just tried `brew upgrade ruimarinho/tap/gsts` and it installed playwright successfully here, so I am bit unsure on where the root cause may be... if you could try re-installing it by issuing `brew reinstall gsts` that would be great.

In terms of your IAM role switch, are you using `--aws-role-arn`? Does `DEBUG=* gsts --verbose --force` yi

[2021-02-06 02:07] limewxr commented on #41
Thanks @ruimarinho ! I just tried to use homebrew to uninstall and then install gsts again, then tried those gsts commands that I've been using for months (with --verbose, with and without DEBUG=*), here are some outputs that might be useful:

==============

with --verbose, and without DEBUG=*
I can see
[code]
and gsts apparently gets stuck at this point.

==============

with --verbose, and with

[2021-02-10 01:44] ruimarinho commented on #41
@limewxr thank you! The requests to "https://signin.aws.amazon.com/static/js/jquery.min.js" are unexpected past that point. I wonder what could be causing those.

I've added additional logging to v3.0.1. Could you give it a try please with `--verbose`?

[2021-02-10 01:56] ruimarinho commented on #41
Make that v3.0.2 with an updated playwright version to see if it helps with the installation issue too!

[2021-02-11 16:38] dtardoin opened #42 "Plist file generated from --daemon command has invalid option"
The plist file generated from the `--daemon` flag has this option:
[code]

This is even the case when ` --engine-executable-path` isn't used.

Which is causing puppeteer to error because it can't find browser `null`:
[code]

Fixable on my end by just removing that configuration option from the file.
Ran into this issue in 3.0.2, but it might have happened in earlier versions.

[2021-02-15 12:07] ruimarinho commented on #42
Thanks for the report! Fixed in 3.0.3.

[2021-02-15 12:07] #42 closed

[2021-02-17 03:34] limewxr commented on #41
Thank you a lot @ruimarinho ! I have uninstalled and then installed gsts v3.0.2 using homebrew, then I tried to login with `--clean --force --verbose`, and I even deleted the ~/.aws folder before the test, but the problem (i.e. get stuck after successful login) still exists. The verbose outputs look mostly fine, no error during the process except at the very end as shown below:

[code]

Please let

[2021-02-17 03:39] limewxr commented on #41
More notes: (1) in my original post I said that the problem happens when I switch roles, but now it looks like I can actually reproduce it with only one login, no need for two logins in a row. (2) One of my colleagues reported the same/similar problem with gsts v3.0.3 today. Thanks!

[2021-02-17 03:48] limewxr commented on #41
By the way, the playwright error I mentioned above seems gone. Yeah!

(Not sure if it was a reproducible problem that your dependency version upgrade fixed, or it was more of a one-time weirdness on my computer.)

Thank you!

[2021-02-19 12:17] tushar-nallan commented on #41
I çan add that I see both the issues - playright having to be installed separately AND UI getting stuck after successful login

[2021-02-19 12:22] tushar-nallan opened #43 "Remove profile prefix when saving the aws config"
I see that the profile is saved as. [profile sts] instead of just [sts].

This causes the following error to be thrown during compilation -

Your profile name includes a 'profile ' prefix. This is considered part of the profile name in the Java SDK, so you will need to include this prefix in your profile name when you reference this profile from your Java code.

If I remove the profile prefix manu

[2021-02-19 19:41] tristanpemble opened #44 "Failed to launch chromium because executable doesn't exist"
[code]

related: https://github.com/microsoft/playwright/issues/4033

[2021-02-19 19:49] tristanpemble commented on #44
Workaround is to use your own locally installed browser, for example:

[code]

[2021-02-24 08:41] jamessoubry commented on #41
Im getting exactly the same issue. Credentials are stored and i can `ctl-c` out  but i cant use credential_process as it just hangs the command
macos 11.2.1
gsts 3.0.2
playwright 1.9.0
chromium 90.0.4426.0

[2021-02-24 08:54] ruimarinho commented on #41
I’m still trying to replicate the issue. @jamessoubry could you give 3.0.3 a try by installing directly via npm or yarn? It has additional logging which may help me pinpoint the problem.

[2021-02-24 08:55] ruimarinho commented on #41
I think I’ll give this a try on a clean OS install and see what happens there.

[2021-02-25 10:14] thebogusman commented on #41
Hey, I'm having the same issue on Windows. I can confirm all the observations made so far by @limewxr

[2021-02-26 10:21] thebogusman commented on #41
Also switching the engine to firefox does not help.

[2021-02-28 02:07] ruimarinho commented on #44
@tristanpemble it seems like this issue is related to the one you've just linked above. There is another workaround which is calling `node node_modules/playwright/install.js ` under `/usr/local/Cellar/gsts/3.0.2/libexec/lib/node_modules/gsts`.

Seems to be related to the node version playwright is installed with..

[2021-03-01 00:23] ruimarinho commented on #44
@tristanpemble I believe I've found an elegant solution for this. Could you please try updating to gsts@3.0.4 using the new formula update?

[2021-03-01 00:25] ruimarinho commented on #43
Hi @tushar-nallan,

gsts stores just the key, not `profile [key]`. See https://github.com/ruimarinho/gsts/blob/master/credentials-manager.js#L209-L214, so I believe what you're seeing comes from some other software.

Cheers,

[2021-03-01 00:25] #43 closed

[2021-03-01 00:26] ruimarinho commented on #41
Could you give gsts@3.0.4 a try? You can re-install via brew if you want as I've also added a workaround for the playwright browser download problem.

[2021-03-01 08:36] thebogusman commented on #41
Not sure if 3.0.4 was supposed to fix the gsts getting stuck, but the issue is still there.

Here's the output:
`i Login successful and credentials stored in "C:\Users\XXX\.aws\credentials" under AWS profile "default" with role ARN "arn:aws:iam::XXXXX:role/XXXXXX"
i Initiating request to "https://signin.aws.amazon.com/saml"
i Aborting request to "https://signin.aws.amazon.com/static/js/jquery.min.

[2021-03-01 21:47] limewxr commented on #41
Thanks @ruimarinho for the update! I just tried gsts v3.0.4 installed via Homebrew on macOS. The problem of getting stuck still exists. The outputs are similar to what @thebogusman shared above.

[code]

Thanks!

[2021-03-01 21:48] ruimarinho commented on #41
@limewxr what node version are you using? I still can’t replicate the issue :|

[2021-03-01 21:56] limewxr commented on #41
@ruimarinho I ran this command on terminal:

[code]

[2021-03-01 21:59] limewxr commented on #41
I wondered if it's something related to my macOS version, but then I saw the comment above i.e. same problem on Windows, so hmm it's probably not an OS level issue.

[2021-03-02 02:45] ruimarinho commented on #41
I believe the issue is fixed under `gsts@3.0.5` - it was related to multiple roles after all. Could you all give it a try please?

[2021-03-02 11:42] thebogusman commented on #41
Yes! It works flawlessly under windows 🚀
I can finally use `credential_process` flow 😃
Thanks a lot for the fix!

[2021-03-02 18:00] limewxr commented on #41
Thanks @ruimarinho ! There's one small problem in the homebrew tap, as the error message says:

[code]

[2021-03-02 18:12] ruimarinho commented on #41
Oops, only my local version was updated. Fixed!

[2021-03-02 18:40] limewxr commented on #41
Thanks @ruimarinho ! gsts v3.0.5 solves the problem for me. Thank you for your amazing work! Please feel free to close this issue if you want.

[2021-03-02 23:48] ruimarinho commented on #41
Very happy to hear that! Thanks for the help in testing the multiple attempts.

[2021-03-02 23:48] #41 closed

[2021-03-02 23:49] ruimarinho commented on #44
Closing because I believe the current workaround is acceptable at the cost of some additional traffic. The user content data (i.e. cookies, session) remains in the same place, so really only the executables move around.

[2021-03-02 23:49] #44 closed

[2021-03-03 00:42] tristanpemble commented on #44
@ruimarinho I think that fixed it! thanks!

[2021-03-29 14:59] evilr00t opened #46 "gsts aws page fails to load after successful login"
[code]
[code]

More than happy to provide more logs, I checked with every possible engine - same result - AWS page can't be loaded.

[2021-04-07 16:57] #46 closed

[2021-05-06 11:38] alper opened #47 "Does not respect system default browser"
Is it expected that gsts would pop Chromium instead of my system default Safari?

[2021-05-06 12:00] ruimarinho commented on #47
Hi @alper. Short answer, yes. `gsts` uses playwright under-the-hood, which bundles Chromium/WebKit/Firefox. You can use any of these three, but none of them will actually be your installed browser. Recently, playwright added compatibility with stable channels.

From https://playwright.dev/docs/browsers:

This means pointing to a locally installed version of Google Chrome should actually work a lot

[2021-05-06 12:00] #47 closed

[2021-10-04 11:17] rustymagnet3000 opened #49 "Full exit on errors.RoleNotFoundError"
When the following code fires:

[code]

`gsts` does not return an error code to the O/S.  It appears to hang on macOS and doesn't return to the command prompt.

https://github.com/ruimarinho/gsts/blob/bde055fa130ca0e99097c8e0aee0b3c05325920e/index.js#L294

[code]

[2021-10-29 10:27] Skarlso opened #50 "[BUG] Unable to launch browser on OSX 12"
Hello.

Playwright had an update a couple month ago to support OSX 12 here:
https://github.com/microsoft/playwright/issues/7624

`gsts` needs to update its dependency in order for it to work from 12 onwards. Right now, `gsts` isn't working because it can't launch the browser.

[2021-10-31 18:56] ruimarinho commented on #49
@rustymagnet3000 could you give v3.0.7 on npm?

[2021-10-31 18:56] #49 closed

[2021-11-03 01:22] lizthegrey opened #52 "chromium window closes after google 2fa has succeeded, before creds fetched"
[code]

cc @cdueltgen who experienced this problem

Big Sur 11.6.1, gsts 3.0.7

[2021-11-03 02:31] ruimarinho commented on #52
Interesting. [This block](https://github.com/ruimarinho/gsts/blob/master/index.js#L313-L317) should have let that request continue instead of hitting https://github.com/ruimarinho/gsts/blob/master/index.js#L323.

Can you share what type of 2FA was used? Google Prompt / Security Key / SMS / other.

[2021-11-03 02:32] ruimarinho commented on #50
I'm testing an update right now but I'm having some inconsistent results where the Chromium window sometimes doesn't close. Have you had this happening to you @Skarlso? I may publish this as v4..

[2021-11-03 03:37] lizthegrey commented on #52
Google Prompt.

[2021-11-03 05:42] Skarlso commented on #50
@ruimarinho Hmm... interesting. Nope, I've been using this consistently for the past week. I didn't notice any issues yet. I'll try and clear my cache and make it open the window more often. :)

[2021-11-05 14:05] sayoun commented on #52
I've got the same issue, rollbacking to previous 3.0.6 version worked

[2021-11-09 03:57] treykasada commented on #50
I'm currently running @Skarlso's fork to workaround this issue, and so far it's been fine. I haven't yet had Chromium open though, so can't confirm if there are issues with the browser closing, but everything else seems fine. 🙂

[2021-11-09 07:35] Skarlso commented on #50
Used this past 6 days clearing cache so it opens every time. I haven't had any problems yet 🤞 .

[2021-11-12 15:56] Skarlso commented on #50
Just happened to me. But, to be honest, it happened in what... a timeframe of several days as opposed to not working at all without this update. ¯\\_(ツ)_/¯

[2021-11-15 00:59] treykasada commented on #50
Agreed; I don't think the window not closing is problematic enough to block shipping this fix. I'll take "working with occasional UX problem" over "not working at all" any day! 😄

[2021-11-17 16:38] mmadhur-cops commented on #52
It works on 3.0.7 too just use below 2 flags along with the command

`--aws-profile default --engine firefox`

[2021-11-17 22:13] anowar-cloudknox commented on #41
I see it re-appear in 3.0.6, anyone having the same issue

[2021-11-18 15:58] rustymagnet3000 commented on #49
I can't create a new branch ( before I create a PR ) on your gsts repo.

Could you add me, please?

`ERROR: Permission to ruimarinho/gsts.git denied to rustymagnet3000`

[2021-11-21 02:23] ruimarinho commented on #50
v4.0.0 has been released with Monterey support (which really just means playwright got a nice bump). Please let me know how your tests go and if we need to keep investigating the browser closing bug.

@akowalsk I was unable to replicate your issue. Please give v4.0.0 a try and let me know if it persists (preferably under a new ticket).

[2021-11-21 02:23] #50 closed

[2021-11-21 02:24] ruimarinho commented on #52
Could you please v4.0.0 a try and see if the issue still persists? @mmadhur-cops that suggests it's something Chromium related, but unfortunately changing the engine is not an option for everyone.

[2021-11-21 03:26] ruimarinho commented on #52
After a few more hours of debugging, I've found that the `SetSID` request which sets the sessions on Google's SSO servers is not receiving a response. This seems to be a deliberate option by Google, perhaps an attempt at detecting bots and making sure they hang.

The only automated work around so far is switching to a new engine as also suggested by @mmadhur-cops. Interestingly, copying the SetSID

[2021-11-29 16:44] innopbo opened #53 "Request to aws saml url fails due to disallowed requests to aws static resources"
Hi there,

I recently upgraded to v4.0.0 and started hitting this error:
[code]

The authentication succeeds and the token is stored correctly, but the error occurs when trying to access the saml url to confirm that the tool succeeded.

It looks like the check to allow requests to certain urls on line 313 of `index.js` doesn't include a pattern to match static resources from AWS.

I've fixed it lo

[2021-11-30 23:01] ruimarinho commented on #53
@innopbo thanks for the kind words!

Static resources should not be fetched at all since requests to the AWS page are unnecessary, hence the page should not even be rendered to save time and gain performance. I believe what you're experiencing may be related to other issues. Could you please give v4.0.1 a try?

[2021-11-30 23:01] #53 closed

[2021-11-30 23:02] ruimarinho commented on #52
playwright@1.17 is out and with it a potential fix for the issue gsts users have been facing.

I can no longer replicate this problem. Could you please give v4.0.1 a try? Thanks!

[2021-11-30 23:02] #52 closed

[2021-12-01 08:46] innopbo commented on #53
Thanks for the quick reponse, it is indeed fixed in v4.0.1 👌

[2021-12-06 22:40] Louis-EP opened #54 "Homebrew install is broken"
Thanks for a great tool, used it on Ubuntu previously with no issues. Recently moved to Mac and tried to install via Homebrew and got the following error:

[code]
Homebrew version:
[code]

[2021-12-07 00:56] ruimarinho commented on #54
Should be fixed now! You're likely on an M1. I had to publish arm64 binaries for `mota` (a package in that tap). Thanks for the report!

[2021-12-07 00:56] #54 closed

[2021-12-07 01:07] Louis-EP commented on #54
Perfect, thanks! And you're correct, I'm running an M1.

[2021-12-16 22:26] AlexeyRaga opened #55 "Display account aliases for roles"
Hi! Currently `gsts` is capable of displaying roles that can be assumed for all the accounts.
Do you think it'd be possible to also get accounts' aliases so that it'd be easier to operate?

This feature exists in AWS SAML UI (`Production` and `Staging` on the screenshot), it'd be awesome to get it available with `gsts` too!

![image](https://user-images.githubusercontent.com/1394391/146458101-400b

[2021-12-16 22:31] AlexeyRaga opened #56 "Add --list-available-roles"
Currently `gsts` interactively displays a list of roles to chose from when `--aws-role-arn` is not provided.

For automation, it would be very helpful to get this list in non-interactive way with a new `--list-available-roles` flag.

This flag could output the list of roles and let `gsts` exit.

Obeying `--json` would be a huge plus :)

[2022-02-14 11:15] nickphbrown opened #57 "Allow for usage of aws config file for google config like aws-google-auth does"
Using the aws config file for the google config helps with managing many profiles that assume a different role each.

Rather than having to remember the role arns for different profiles and pass them to the gsts command it would be handy for gsts to look in the aws config based on the aws-profile that I pass it.

See an example of a config item used for aws-google-auth below along with a link to t

[2022-02-16 19:22] ruimarinho commented on #57
Hey @nickphbrown. Doesn't https://github.com/ruimarinho/gsts/blob/bde055fa130ca0e99097c8e0aee0b3c05325920e/credentials-manager.js#L203-L222 serve that purpose already?

[2022-02-16 19:24] ruimarinho commented on #56
Hey @AlexeyRaga -- I'm ok with this. I don't know when I'll be able to work on it but perhaps someone will submit a PR in the meantime.

[2022-02-16 19:26] ruimarinho commented on #55
That looks good! Are you able to post the output of gsts in verbose mode so I can see its structure when aliases are included (redacting any sensitive information)?

[2022-02-16 21:58] nickphbrown commented on #57
@ruimarinho It doesn’t. The part you’ve quoted shows the credentials being saved to the aws credentials file.

What I’d like is to be able to run the command ‘gsts —aws-profile {profile-name}’ and it picks up the ‘aws-role-arn’, ‘sp-id’, ‘idp-id’ and ‘username’ from the aws config file.

That way I don’t need to use the aws ‘credential_process’ feature but can still easily get credentials for any

[2022-03-01 12:47] jorgetagle opened #59 "Add Okta identity support"
Hi @ruimarinho, my company is using Okta integrated with our Google services. This causes gsts to invalidate requests made to Okta resources and the authentication process gets stuck. As a quick workaround, I added the "okta" substring into the allowed identity resources and it worked well.

https://github.com/ruimarinho/gsts/blob/d3741f4a4a2d39983ed454b4e282191adbe35c5e/index.js#L313-L317

Do you

[2022-03-02 16:53] heydonovan opened #60 "bug with pre-existing entries in credentials"
We are unable to refresh tokens automatically if the session is expired (I think that's the issue). I created a new profile, test123, copy/pasted it, and it worked just fine. The workaround is to run a `rm -f ~/.aws/credentials` when this happens, but I don't believe we should have to do this. Is this a bug?

[code]

[code]

[code]

[code]

[2022-03-02 20:12] heydonovan opened #61 "multiple daemon entries"
as a workaround for this issue (https://github.com/ruimarinho/gsts/issues/60), we are exploring the use of `gsts --daemon`

[code]

We have two different AWS accounts, and two different roles. However, running this command only resulted in one `io.github.ruimarinho.gsts.plist` file being generated, with only the `test_b` profile. I believe it overwrites the `test_a` one. Is it possible to have two

[2022-03-04 15:46] heydonovan commented on #60
@nickphbrown Thanks for the heads up! I've added a +1 to the thread and made a comment.

[2022-03-10 17:57] heydonovan opened #63 "ERR_CONNECTION_CLOSED"
We have a user on macOS Monterey that is unable to initiate the headless chrome browser:

[code]

[code]

Let me know if any additional logs are needed, that URL loads fine in a regular browser.

[2022-03-23 16:20] bentsherman opened #64 "Add option to copy URL instead of opening browser automatically"
I use WSL, so GUI support is clunky. I got it to work, but I would like to be able to just copy the authentication URL into my native browser instead of `gsts` trying to open a browser automatically. Google Cloud's `gcloud` does this for example.

Would it be possible to implement this flow, enabled by a command line option?

[2022-04-12 16:05] imduffy15 opened #66 "Why do credentials default to ~/.aws/credentials ?"
[code]

This argument enables us to specify a credentials path for gsts to use. I'm confused as to why it globbers the `~/.aws/credentials` file rather than creating and using its own file.

gsts uses this file for the storing of temporary credentials, when they expire it renews them. However, when written to this specific file awscli will always prefer the files entry over the credential_process

[2022-04-12 16:05] imduffy15 commented on #66
Also see https://ben11kehoe.medium.com/never-put-aws-temporary-credentials-in-env-vars-or-credentials-files-theres-a-better-way-25ec45b4d73e

[2022-04-28 17:36] joao-spring commented on #57
Rui!   Esta functionalidade está a tornar-se uma questão de orgulho nacional!   Trabalho nos EUA e usavamos `aws-google-auth`, mas com os problemas que essa ferramenta teve esta semana e falta de manutenção, resolvemos mudara para `gsts`.

Eis a minha reacção:

<img width="379" alt="image" src="https://user-images.githubusercontent.com/56278289/165813300-4297dede-a7fb-49ed-885b-65ced1c9beba.png">

[2022-05-05 08:44] TheEdgeOfRage opened #67 "Error: Cannot find module 'agent-base'"
I'm trying to set up gsts on a new machine. I have the exact same aws config and gsts install (v4.0.1 from the AUR on Archlinux), but on the new machine I get the following error:

[code]

[2022-05-05 08:51] TheEdgeOfRage commented on #67
After the third reinstall it somehow magically works now.... Sorry

[2022-05-05 08:51] #67 closed

[2022-05-20 11:03] dgacias commented on #59
Had the same issue, solved the same way as you:
$ sudo vim +313 /usr/local/lib/node_modules/gsts/index.js

Before:
if (/google|gstatic|youtube|googleusercontent|googleapis|gvt1/.test(route.request().url())) {
Now:
 if (/google|gstatic|okta|youtube|googleusercontent|googleapis|gvt1/.test(route.request().url())) {

[2022-05-25 19:32] heydonovan opened #68 "headless chrome spins forever"
Several of our users have reported this issue and now it's happening for me as well. Maybe due to a brew update/upgrade? Not sure at what point it broke, since I only use it when credentials expire.

[code]

Any ideas on how to further troubleshoot this? When running gsts, the headless chrome window opens, but nothing ever happens. It also never times out. Opens two tabs too. As a workaround, we h

[2022-05-31 17:04] dholroyd commented on #68
I had the same symptoms - my system is on Chrome 102.0.5005.61 (Ubuntu).

I downloaded [Chrome 101, Linux_x64](https://commondatastorage.googleapis.com/chromium-browser-snapshots/index.html?prefix=Linux_x64/982481/) which worked where the system provided Chrome didn't.

[2022-08-08 20:25] ruimarinho commented on #59
Please give v4.1.0 a try and let me know if it's working as expected!

[2022-08-08 20:25] #59 closed

[2022-08-08 20:26] ruimarinho commented on #68
Hi @heydonovan -- does this happen if you pass `--engine=firefox`?

[2022-08-08 20:28] ruimarinho commented on #64
@bentsherman while still writing to the credentials file, right? I'd need to do some research as I'm not sure how to capture those details outside the running context. You're not looking for `gsts console`, are you?

[2022-08-08 20:33] ruimarinho commented on #63
@heydonovan can you try with `--engine=firefox` and see if it's still an issue? I suspect a problem with HTTPS and some versions of Chromium. You can try uninstalling and installing v4.1.0 to fetch the latest playwright version as well.

[2022-08-08 20:46] bentsherman commented on #64
It looks like `gsts console` also opens a browser window. I just want it to print a URL, then I open to that URL myself, authenticate, and `gsts` captures that event somehow and proceeds.

I see what you mean that the "somehow" part might be tricky. I don't know how gcloud does it, it might use internal APIs that this tool can't access.

In any case, I think it's worth a cursory investigation to s